name: Compatability

on: [ push ]

jobs:
  build:
    name: Validate Compatibility
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build: [linux, beta, nightly, macos, windows]
        include:
          - build: linux
            os: ubuntu-latest
            toolchain: stable
          - build: beta
            os: ubuntu-latest
            toolchain: beta
          - build: nightly
            os: ubuntu-latest
            toolchain: nightly
          - build: macos
            os: macos-latest
            toolchain: stable
          - build: windows
            os: windows-latest
            toolchain: stable
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
      - name: Cache Cargo
        uses: Swatinem/rust-cache@v1.3.0
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --all-features
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --release --all-features
        env:
          RUST_BACKTRACE: 1
